<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RF ML API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">


  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='static/css/style.css') }}">

</head>

<body>
  <div class="wrapper">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">


          <a class="navbar-brand" href="/">Home
            <img class="nav-ufo" src="static/images/ufo.svg">

          </a>

        </div>
          <div class="dropdown">
          <button class="dropbtn">Collaborators</button>
          <div class="dropdown-content">
          <a href="{{ url_for('daniel')}}">Daniel</a>
          <a href="{{ url_for('nate')}}">Nate</a>
          <a href="{{ url_for('peter')}}">Peter</a>
          <a href="{{ url_for('presentation')}}">Presentation</a>
          </div>



        </div>
      </div>
    </nav>





    <div class="hero text-center" style="background-image: url('../static/images/nasa4.jpg');">
      <h1 class="title">Peter Shapiro</h1>
      <h3 class="title">OLS Multivariate Regression</h3>
      <br>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-3">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Features Used-</div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">Second Floor Square Feet</li>
                  <li class="list-group-item">Three Season Porch Area (SF)</li>
                  <li class="list-group-item">Bedrooms Above Ground</li>
                  <li class="list-group-item">Type 1 Finished Square Feet</li>
                  <li class="list-group-item">Basement Quality</li>
                  <li class="list-group-item">Unfinished Basement Square Feet</li>
                  <li class="list-group-item">External Quality</li>
                  <li class="list-group-item">Fireplaces</li>
                  <li class="list-group-item">Full Baths</li>
                  <li class="list-group-item">Garage Area</li>
                  <li class="list-group-item">Garage Cars</li>
                  <li class="list-group-item">Garage Finish</li>
                  <li class="list-group-item">Garage Year Built</li>
                  <li class="list-group-item">Above grade (ground) living area Square Feet</li>
                  <li class="list-group-item">Half Bath</li>
                  <li class="list-group-item">Kitchen Quality</li>
                  <li class="list-group-item">Lot Area</li>
                  <li class="list-group-item">Lot Frontage</li>
                  <li class="list-group-item">Low Quality Finish in SF</li>
                  <li class="list-group-item">MSSubClass</li>
                  <li class="list-group-item">Masonry veneer area in Square Feet</li>
                  <li class="list-group-item">Month Sold</li>
                  <li class="list-group-item">Open Porch Square Feet</li>
                  <li class="list-group-item">Overall Conditon</li>
                  <li class="list-group-item">Overall Quality</li>
                  <li class="list-group-item">Screen Porch</li>
                  <li class="list-group-item">Total Rooms Above Ground</li>
                  <li class="list-group-item">TotalBasement Square Feet</li>
                  <li class="list-group-item">Wood Deck SF</li>
                  <li class="list-group-item">Year Built</li>
                  <li class="list-group-item">Year Remodeled</li>
                  <li class="list-group-item">Basement Full Bath</li>
                  <li class="list-group-item">Year Sold</li>
                </ul>
            
              </div>
            </div>
          </aside>
        </div>
        <div style="padding-left: 10px" class="col-md-9">
          <p>Mean Square Error: .0944 </p>
          <p>R^2: .9127 </p>
          <p>Training Model Score: 91.27 % </p>
          <img class="peter_ols" src="static/images/ols_regression.svg">
          

        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">Columbia Bootcamp 2020</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!--script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script-->
</body>

</html>
